<div class="section bg-darkgrey">
    <div class="about-me-container">
        <img class="about-me-img" src="assets/img/profile-picture.jpg">
        <div class="about-me-text">
            <h2>About me.</h2>
            <p>
                My name is Samuel, I am a junior frontend developer and I discovered my passion for web and software
                development. Information technology has interested me since I was in secondary school. When I started fixing computers of friends
                and acquaintances and solving technical problems, I discovered programming for myself. In my spare time,
                I started to teach myself programming. After a while, I realized that I wanted to do this
                professionally. While searching for a suitable apprenticeship, I came across the Developer Academy. Here
                I am being trained as a front-end developer and prepared for my career entry. After successfully
                completing my training, I would like to start a career as a front-end developer.
            </p>
        </div>
    </div>
</div>