.skills {
    height: calc(100vh - 104px);
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
}

.skill-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-box {
    width: 30%;
    height: 15vh;
    background-color: #efefef;
    margin: 4.5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;

    span {
        color: #000000;
        font-weight: 400;
        font-size: 22px;
    }
}

.skill-image {
    width: 10vh;
    height: 10vh;
    background-color: #efefef;
    border-radius: 100%;
    margin-top: -5vh;
    margin-bottom: calc(2.5vh - 11px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);

    img {
        height: 4vh;
        object-fit: contain;
    }
}