<div class="section" id="portfolio">
    <h2>My Work</h2>
    <div class="project-menu">
        <button class="btn-primary btn-middle" id="btn-all" (click)="ps.renderAll()">All</button>
        <button class="btn-primary btn-middle" id="btn-js" (click)="ps.renderJS()">JavaScript</button>
        <button class="btn-primary btn-middle" id="btn-angular" (click)="ps.renderAngular()">Angular</button>
    </div>
    <div class="project-container" id="project-contain">
        <app-project-item *ngFor="let project of ps.projectsFiltered; let i = index" [i]="i"></app-project-item>
    </div>
</div>