main {
    position: relative;
    left: 0;
    right: 0;
    top: 104px;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1600px) {
    
}

@media (max-width: 776px) {
    main {
        
    }
}

