.project-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 #ffffff;
    cursor: pointer;
}

.project-info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000de;

    span {
        text-align: center;
        margin-bottom: 32px;
        max-width: 280px;
    }
}

.project-img {
    width: 100%;
    object-fit: contain;
}