body {
    margin: 0;
    background-color: #000000;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-block-start: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
    cursor: default;
}

h2 {
    padding-top: 5vh;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

img {
    -ms-touch-action: none;
    touch-action: none;
}

.primary {
    color: #03ff18;

    &:hover {
        color: #FF16A7;
    }
}

.secondary {
    color: #FF16A7;

    &:hover {
        color: #03ff18;
    }
}

button {
    width: 294px;
    height: 64px;
    background-color: unset;
    border: 1px solid;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    color: #03ff18;
    border-color: #03ff18;

    &:hover {
        color: #efefef;
        background-color: #03ff18;
    }

    &:disabled {
        color: #efefef;
    }
}

.btn-secondary {
    color: #FF16A7;
    border-color: #FF16A7;

    &:hover {
        color: #efefef;
        background-color: #FF16A7;
    }

    &:disabled {
        color: #efefef;
    }
}


@media (max-width: 1200px) {
    h1 {
        font-size: 52px;
        line-height: 80px;
    }

    button {
        width: 270px;
        height: 56px;
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 42px;
        line-height: 70px;
    }

    button {
        width: 246px;
        height: 52px;
        font-size: 14px;
    }
}

@media (max-width: 776px) {
    body {
        background-color: #111111;
    }

    h1 {
        font-size: 54px;
    }
}





/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/roboto-v29-latin-100.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-100.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-100italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('assets/fonts/roboto-v29-latin-100italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-100italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-100italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-100italic.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-100italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-100italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto-v29-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('assets/fonts/roboto-v29-latin-300italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-300italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v29-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/roboto-v29-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto-v29-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('assets/fonts/roboto-v29-latin-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-500italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-v29-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/roboto-v29-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-700italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/roboto-v29-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-900.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('assets/fonts/roboto-v29-latin-900italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/roboto-v29-latin-900italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/roboto-v29-latin-900italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/roboto-v29-latin-900italic.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/roboto-v29-latin-900italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/roboto-v29-latin-900italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}