<div class="home-container">
    <div class="introduction-container">
        <div class="introduction-left">
            <h1>
                <span class="hover-animation">Hi,<br></span>
                <span class="hover-animation">I'm </span><span class="primary">Samuel </span><span
                    class="hover-animation">Bergen<br></span>
                <span class="hover-animation">Front-end </span><span
                    class="hover-animation">develop<span class="secondary">e</span>r</span>
            </h1>
            <button class="btn-secondary">Contact me</button>
        </div>
        <img class="profile-picture" src="assets/img/profile-picture.jpg">
    </div>
    <div class="arrow-down">
        <i class="fa-solid fa-angles-down"></i>
    </div>
</div>